In [18]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [19]:
data = pd.read_csv('h1b.csv')
data.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [20]:
data.dtypes

Unnamed: 0              int64
CASE_STATUS            object
EMPLOYER_NAME          object
SOC_NAME               object
JOB_TITLE              object
FULL_TIME_POSITION     object
PREVAILING_WAGE       float64
YEAR                  float64
WORKSITE               object
lon                   float64
lat                   float64
dtype: object

In [149]:
def get_conn():
    return mysql.connector.connect(host= "localhost",
                  user="root",
                  passwd="password",
                  db="h1bdata")

In [155]:
TABLES = {}
TABLES['data'] = (
    "CREATE TABLE `data` ("
    "  `id` int NOT NULL,"
    "  `CASE_STATUS` varchar(200),"
    "  `EMPLOYER_NAME` varchar(200),"
    "  `SOC_NAME` varchar(200),"
    "  `JOB_TITLE` varchar(200),"
    "  `FULL_TIME_POSITION` varchar(200),"
    "  `PREVAILING_WAGE` float(12,2),"
    "  `YEAR` int,"
    "  `WORKSITE` varchar(200),"
    "  `lon` float(12,6),"
    "  `lat` float(12,6),"
    "  PRIMARY KEY (`id`), UNIQUE KEY `id` (`id`)"
    ") ENGINE=InnoDB")

conn = get_conn()
cursor = conn.cursor()
for name, ddl in TABLES.iteritems():
    try:
        print("Creating table {}: ", name)
        cursor.execute(ddl)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")
conn.commit()
cursor.close()
conn.close()

('Creating table {}: ', 'data')
OK

In [108]:
headers = 'CASE_STATUS, EMPLOYER_NAME, SOC_NAME, JOB_TITLE, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, WORKSITE, lon, lat'
headers = headers.split(", ")
print(headers)

['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE', 'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon', 'lat']

In [156]:

def create_insert_sql(line, headers, id):
    """
    Create a SQL statement for inserting row 
    """
    values = []
    for header in headers:
        val = line[header]
        if header == 'YEAR': val = int(val)
        if repr(val) == 'nan':
            values.append('null')
        else:
            values.append(repr(val))

    headerpart = ', '.join(headers)    
    valuespart = ', '.join(values)

    sql = 'INSERT INTO h1bdata.data (' + 'id, ' + headerpart + ')' + ' VALUES' + '(' + str(id) + ', ' + valuespart + ')'
    return sql



line = data.iloc[2,:]
print(create_insert_sql(line, headers, 123))

INSERT INTO h1bdata.data (id, CASE_STATUS, EMPLOYER_NAME, SOC_NAME, JOB_TITLE, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, WORKSITE, lon, lat) VALUES(123, 'CERTIFIED-WITHDRAWN', 'PORTS AMERICA GROUP, INC.', 'CHIEF EXECUTIVES', 'CHIEF PROCESS OFFICER', 'Y', 193066.0, 2016, 'JERSEY CITY, NEW JERSEY', -74.077641700000001, 40.728157500000002)

In [158]:
#[leng, wid] = data.shape

conn = get_conn()
cursor = conn.cursor()

try:
    for row in range(0,data.shape[0]):
        if row % 1000 == 0: print(row)
        line = data.iloc[row,:]
        sql = create_insert_sql(line, headers, row+1)
        try:
            cursor.execute(sql)
        except Exception as e:
            print(sql)
            raise e
    print("all done")
    conn.commit()
    
finally:
    cursor.close()
    conn.close()

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000

KeyboardInterrupt:

In [143]:
data.shape

(3002458, 11)